@model FMS_Core.Models.EFModels.TblPurchase

@{
    ViewData["Title"] = "Details";
}

<partial name="_Header" />

<div>
    
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartyInvoiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartyInvoiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartyInvoiceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartyInvoiceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDueAfter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDueAfter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReverseCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReverseCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmountBeforeTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmountBeforeTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmountAfterTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmountAfterTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoundOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoundOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrandTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrandTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScanCopy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScanCopy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartyNameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartyNameNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentModeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentModeNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div style="overflow:auto">
    @*@Html.Partial("Viewtems", Model.TblItemStock.ToList())*@
    <partial name="Viewtems" model="@Model.TblItemStock.ToList()" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
