@model FMS_Core.Models.EFModels.TblItems

@{
    ViewData["Title"] = "Details";
}

 

<div>
    <partial name="_Header" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HsnSacNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HsnSacNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemUniqueDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemUniqueDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UseBatchNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UseBatchNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UseMfgDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UseMfgDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UseExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UseExpiryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDatetime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDatetime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GstNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GstNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeasuringUnitNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeasuringUnitNavigation.MeasuringUnits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierNavigation.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeNavigation.ItemType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
