@model IEnumerable<FMS_Core.Models.EFModels.TblPurchase>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.AutoId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.PartyInvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartyInvoiceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDueAfter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReverseCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmountBeforeTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmountAfterTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoundOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrandTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScanCopy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartyNameNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentModeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.AutoId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.PartyInvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartyInvoiceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDueAfter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReverseCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmountBeforeTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmountAfterTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoundOff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScanCopy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartyNameNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentModeNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
