@model FMS_Core.Models.EFModels.TblVendor

@{
    ViewData["Title"] = "Details";
}

 

<div>
    <partial name="_Header" />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gstno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gstno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tinno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tinno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Panno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Panno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdhaarNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdhaarNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningBalanceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningBalanceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningBalanceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningBalanceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditInterestRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditInterestRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitInterestRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitInterestRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuretyPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuretyPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuretyPersonContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuretyPersonContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuretyPersonAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuretyPersonAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
