@model FMS_Core.Models.EFModels.TblGst

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblGst</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sgst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sgst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cgst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cgst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Igst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Igst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ordinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ordinal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
