<div class="row">
    <div class="col">
        <h4><strong>@ViewBag.HeaderTitle @ViewBag.Name</strong></h4>
    </div>
    <div class="col">
        @ViewBag.Name ID :  @ViewBag.Id <br />
        DateTime :  @ViewBag.CreatedDatetime
    </div>
    
</div>
<hr />