@model FMS_Core.Models.EFModels.TblSale

@{
    ViewData["Title"] = "Details";
}

 

<div>
    <partial name="_Header" />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountAfterTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountAfterTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherChargeAfterTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherChargeAfterTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalValueafterTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalValueafterTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoundOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoundOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrandTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrandTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReverseCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReverseCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
    </dl>
</div>
<div style="overflow:auto">
    @*@Html.Partial("Viewtems", Model.TblItemStock.ToList())*@
    <partial name="Viewtems" model="@Model.TblItemStock.ToList()" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SaleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
