@model IEnumerable<FMS_Core.Models.EFModels.TblSale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountAfterTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherChargeAfterTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalValueafterTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoundOff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrandTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReverseCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>

    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            <a asp-action="Edit" asp-route-id="@item.SaleId"><i class="fa fa-pencil-square-o"></i></a> 
             
            @*<a asp-action="Delete" asp-route-id="@item.SaleId">Delete</a>*@
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.SaleId">
                @Html.DisplayFor(modelItem => item.InvoiceId)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountAfterTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherChargeAfterTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalValueafterTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoundOff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrandTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReverseCharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentModeNavigation.Mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>

    </tr>
}
    </tbody>
</table>
